.Heaven/
.ICEauthority
.Xauthority
.bash_history
.bash_logout
.bashrc
.bundle/
.cache/
.compiz/
.config/
.dmrc
.gazebo/
.gitconfig
.local/
.mozilla/
.mplayer/
.nvidia-settings-rc
.oracle_jre_usage/
.profile
.repo_.gitconfig.json
.repoconfig/
.sdformat/
.sudo_as_admin_successful
.xsession-errors
.xsession-errors.old
Downloads/
examples.desktop
jre1.8.0_144/

